<%- include('layout/header')%>

<div class="container">
    <div class="row">
        <div class="col m-5">
            <div class="card shadow">
                <div class="card-header text-center bg-primary text-white">
                    <h4>Add new user</h4>
                </div>
                <div class="card-body">
                    <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                        <!-- Name  -->
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Enter your name" required>
                        </div>

                        <!-- Email -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" required>
                        </div>

                        <!-- Phone -->
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input type="tel" name="phone" class="form-control" id="phone" placeholder="Enter your phone number" required>
                        </div>

                        <!-- Image  -->
                        <div class="mb-3">
                            <label for="image" class="form-label">Select Image</label>
                            <input type="file" name="image" class="form-control" id="image" accept="image/*" required>
                        </div>

                         <!-- role -->
                         <div class="mb-3">
                            <label for="role" class="form-label">What is your role?</label>
                            <select name="role" class="form-control">
                              <option value="Option1">Option 1</option>
                              <option value="Option2">Option 2</option>
                              <option value="Option3">Option 3</option>
                            </select>
                          </div>

                        <!-- Submit  -->
                        <div class="d-grid">
                            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer')%>